*{
    box-sizing: border-box  ;
}
.header{

}

.body-wrap{
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.body {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

}

.item + .item {
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
}

.btn-box {
    width: 100%;
    margin-top: 23px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add{
    padding: 4px 23px;
    font-size: 17px;
    border-radius: 10px;
    background-color: #01659A;
    color: white;
    cursor: pointer;
}

.reset {
    padding: 4px 23px;
    font-size: 17px;
    border-radius: 10px;
    background-color: #999932;
    color: white;
    cursor: pointer;
}

.job-list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
    flex: auto;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box{
    border: 1px solid;
    width: 500px;
    height: 50vh;
    padding: 10px;
}
